/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.woff') format('woff2'),
    url('../fonts/Poppins-Medium.woff2') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.woff') format('woff2'),
    url('../fonts/Poppins-Bold.woff2') format('woff');
  font-weight: 700;
}

/* General styles */
html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Poppins Medium', sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.link {
  font-family: 'Poppins Bold', sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 0 0 1.25rem 0;
}

h2 {
  position: relative;
  margin-bottom: 2.25rem;
  font-size: 1.75rem;
  line-height: 2.32;
  background: linear-gradient(#fd749b, #281ac8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Poppins Bold', sans-serif;
}

h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.125rem;
  height: 5px;
  background: #f53e6a;
  border-radius: 7px;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  height: 54px;
  padding: 1rem 3.7rem;
  background: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
  border-radius: 100px;
  border: none;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-family: 'Poppins Bold', sans-serif;
  cursor: pointer;
}

.wrapper {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header */
.header {
  padding: 2.5rem 0 2.4rem;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
}

.header__menu--item .link {
  position: relative;
  padding: 0.5rem 0;
  color: #333;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
}

.header__menu--item .link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background: #f53e6a;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.header__menu--item .link:hover::after {
  width: 33%;
}

.header__menu--item:not(:last-child) {
  margin-right: 4.25rem;
}

/* Banner */
.banner {
  position: relative;
  background: linear-gradient(174.48deg, #fd749b -12.41%, #281ac8 88.56%);
}

.banner__wrapper {
  display: flex;
  align-items: center;
  padding: 5rem 1rem 3.25rem;
}

.banner__text {
  flex: 1;
  padding-right: clamp(4rem, 8.75rem, 10vw);
  color: #fff;
}

.banner__text span {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.banner__text p {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}

.banner__wave {
  position: relative;
  top: 0;
  height: 10rem;
}

/* About */
.about {
  position: relative;
  z-index: 1;
}

.about__quote {
  width: clamp(40ch, 50%, 70ch);
  margin: 0 auto 4.125rem;
  text-align: center;
}

.about__quote blockquote {
  position: relative;
  padding-bottom: 40px;
  background: linear-gradient(174.48deg, #fd749b -12.41%, #281ac8 88.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: 'Poppins Bold', sans-serif;
  font-size: 1.125rem;
  line-height: 2.22;
}

.about__quote blockquote::after {
  content: '';
  position: absolute;
  bottom: calc(0% + 20px);
  left: 50%;
  transform: translate(-50%, 50%);
  width: 3.125rem;
  height: 5px;
  background: #f53e6a;
  border-radius: 7px;
}

.about__content {
  position: relative;
  padding: 2rem clamp(3rem, 20vw, 18rem) 3.5rem;
  border: 1px solid transparent;
  border-radius: 30px;
  background: #fff;
  text-align: center;
}

.about__content::after {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(#fd749b, #281ac8);
  border-radius: 30px;
  z-index: -1;
}

.about__content > img {
  margin-bottom: 2.687rem;
}

.about__content--description {
  margin-bottom: 2.187rem;
  font-size: 1rem;
  line-height: 2.5;
}

.about__content--icons img:not(:last-child) {
  margin-right: 1.875rem;
}
